<section class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Upload APK (BETA)</h2>
		
			<div class="panel panel-primary">
				<div class="panel-body">
					<form action="../upload" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label class="control-label" for="file">Arquivo</label>
							<input type="file" class="form-control" name="file" id="file">
						</div>
						
						<button type="submit" class="btn btn-primary">
							Enviar
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>