<section>
	<form name="forgorPasswordForm" ng-submit="login()" method="post">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title">Esqueceu sua senha?</h3>
		</div>
		<div class="modal-body">
			<div class="form-group" ng-hide="hasMailBeenSent">
				<label class="control-label" id="email">E-mail</label> <input
					type="email" for="email" name="email" class="form-control"
					ng-model="forgotPassword.email" autofocus required>
			</div>

			<div class="alert alert-info" ng-show="hasMailBeenSent">
				<p>
					<span class="glyphicon glyphicon-exclamation-sign"></span> 
					Caso o e-mail digitado exista na nossa base, logo você estará recebendo um e-mail do suporte.
				</p>
			</div>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-hide="hasMailBeenSent" ng-click="sendMail()"
				ng-disabled="forgorPasswordForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span> Enviar
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<span class="glyphicon glyphicon-remove"></span> Fechar
			</button>
		</div>
	</form>
</section>