<section>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand pd-5" href="#" title="AJTA Portal">
      		<img src="img/apple-icon-76x76.png" class="brand-image">
	      </a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li>
	      		<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
	      		aria-expanded="false" title="Listar atletas">
	      			<span class="glyphicon glyphicon-user"></span> Atletas  <span class="caret"></span>
	      		</a>
	      		<ul class="dropdown-menu">
	          	<li ng-repeat="category in categories">
	          		<a href="javascript:;" ui-sref="app.athlete-list({categoryId: category.id})" title="Categoria {{category.descricao}}">
	          			<span ng-bind="::category.descricao"></span>
	          		</a>
	          	</li>
	          </ul>
	      	</li>
	        <li title="Listar atletas">
	        	<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	        		<span class="glyphicon glyphicon-th-large"></span> Categorias  <span class="caret"></span>
	        	</a>
	        	<ul class="dropdown-menu">
	        		<li ng-show="user.administrador">
		        		<a href="javascript:;" ui-sref="app.create-category">
		        			<span>Cadastrar</span>
		        		</a>
	        		</li>
	        		<li>
		        		<a href="javascript:;" ui-sref="app.category-list">
		        			<span>Listar</span>
		        		</a>
	        		</li>
	        	</ul>
	        </li>
	        <li title="Listar jogos">
	        	<a href="javascript:;" ui-sref="app.game-list">
	        		<span class="icon ion-ios-tennisball-outline"></span> Jogos
	        	</a>
	        </li>
	        <li title="Notícias" class="disabled">
	        	<a href="javascript:;">
	        		<span class="glyphicon glyphicon-bullhorn"></span> Notícias
	        	</a>
	        </li>
	        <li class="dropdown" title="Listar ranking">
	          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	          	<span class="icon ion-trophy"></span> Rankings <span class="caret"></span>
	          </a>
	          <ul class="dropdown-menu">
	          	<li ng-repeat="category in categories">
	          		<a href="javascript:;" ui-sref="app.ranking({categoryId: category.id})">
	          			<span ng-bind="::category.descricao"></span>
	          		</a>
	          	</li>
	          </ul>
	        </li>
	        <li class="dropdown" title="Sobre nós">
	        	<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	        		<span class="icon ion-earth"></span> Sobre Nós <span class="caret"></span>
	        	</a>
	        	<ul class="dropdown-menu">
	        		<li>
		        		<a href="javascript:;" ui-sref="app.regulation">
		          			Regulamento
		          		</a>
	        		</li>
	        	</ul>
	        </li>
	        <li class="disabled" title="Não disponível">
	        	<a href="javascript:;">
	        		<span class="glyphicon glyphicon-fire"></span> Torneios
	        	</a>
	        </li>
	        <li class="disabled" ng-show="user.administrador" title="Não disponível">
	        	<a href="javascript:;">
	        		<span class="glyphicon glyphicon-cloud-upload"></span> Upload
	        	</a>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-right" ng-hide="user">
	        <button type="button" class="btn btn-success" ng-click="openLogin()">Acessar</button>
	        <button type="button" class="btn btn-success" ui-sref="app.sign-up">Se inscreva</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right" ng-show="user">
	      	<li class="dropdown">
	      		<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			      	<strong>
			      		Olá, <span ng-bind="::user.name"></span><span class="caret"></span>
		      		</strong>
	          </a>
	          <ul class="dropdown-menu">
	          	<li>
	          		<a href="javascript:;" ui-sref="app.control-panel">
	          			<span class="glyphicon glyphicon-user"></span> Minha conta
	          		</a>
	          	</li>
	          	
	          	<li>
	          		<a href="../logout">
	          			<span class="glyphicon glyphicon-log-out"></span> Sair
	          		</a>
	          	</li>
	          </ul>
	      	</li>
	      </ul>
	      
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
</section>