<section class="container">
	<div class="jumbotron">
		<h2>Bem Vindo ao Portal AJTA!</h2>
		<p>A <b>ASSOCIAÇÃO JOSEENSE DE TÊNIS AMADOR</b> é uma organização que incentiva a prática do tênis na região periférica da cidade. 
		<p>A AJTA foi criada para promover o tenis e incentivar a todas as pessoas que queiram praticar, trazendo o esporte para toda periferia de São Jose dos Campos .
		<p>Na AJTA o tenista amador encontra competições que promovem o desenvolvimento das habilidades no esporte, faz novos amigos, 
			cuida da sua saúde melhorando o seu condicionamento físico, desafia sua mente e diminui o nível do estresse urbano, além de se divertir muito.
			
		<p>Leia o <a href="javascript:;" ui-sref="app.regulation" title="Ler o regulamento">regulamento</a> e associe-se, é gratuíto.
	</div>

</section>