<section>
	<form name="loginForm" ng-submit="login()" method="post">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title">Login</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label class="control-label" id="email">E-mail</label> <input
					type="email" for="email" name="email" class="form-control"
					ng-model="loginData.email" autofocus required>
			</div>

			<div class="form-group">
				<label class="control-label" for="password">Senha</label> <input
					type="password" id="password" name="password" class="form-control"
					ng-model="loginData.password" required>
			</div>
			
			<div class="alert alert-danger" ng-show="hasLoginFailed">
				<p>
					<span class="glyphicon glyphicon-exclamation-sign"></span> Email ou senha incorretos
				</p>
			</div>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-success"
				ng-disabled="loginForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span> Acessar
			</button>
			
			<button type="button" class="btn btn-warning" ng-click="openForgotPasswordModal()">
				<span class="glyphicon glyphicon-question-sign"></span> Esqueceu sua senha?
			</button>

			<button type="button" class="btn btn-danger" ng-click="close()">
				<span class="glyphicon glyphicon-remove"></span> Fechar
			</button>
		</div>
	</form>
</section>