<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Atualize sua senha!</h2>
			
			<div class="panel panel-default" ng-if="!invalidId" ng-hide="hasPasswordBeenReset">
				<div class="panel-body">
					<form name="resetPasswordForm" ng-submit="resetPassword()">
						<div class="form-group">
							<label class="control-label" for="password">Senha</label>
							<input type="password" id="password" class="form-control" ng-model="athlete.password" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="confirmPassword">Confirmar senha</label>
							<input type="password" id="confirmPassword" class="form-control" ng-model="athlete.confirmPassword" required>
						</div>
						
						<button type="submit" class="btn btn-primary" 
						ng-disabled="resetPasswordForm.$invalid || athlete.password != athlete.confirmPassword">
							Atualizar senha!
						</button>
					</form>
					
				</div>
			</div>

			<div class="alert alert-danger" ng-show="invalidId">
				<strong class="glyphicon glyphicon-exclamation-sign"></strong>
				<strong>Este link é inválido ou o tempo dele expirou.</strong>
			</div>
			
			<div class="alert alert-success" ng-show="hasPasswordBeenReset">
				<strong class="glyphicon glyphicon-ok"></strong>
				<strong>Sua senha foi atualizada.</strong>
				<strong>Você agora pode acessar o portal utilizando sua nova senha.</strong>
			</div>
		</div>
	</div>
</section>