<section class="container control-panel">
	
	<h2>Minha conta</h2>

	<fieldset ng-show="user.administrador">
		<legend>
			<h4>
				Funções Administrativas
			</h4>
		</legend>
	</fieldset>

	<div class="row">
		<div class="col-md-3" ng-show="user.administrador">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-user"></span> Atletas
					</h3>
				</div>
				<div class="panel-body">
					<button class="btn btn-primary btn-block text-left" ui-sref="app.approve-athlete">
						<span class="glyphicon glyphicon-thumbs-up"></span> Aprovar atletas
					</button>
					
					<button class="btn btn-primary btn-block text-left" ui-sref="app.athlete-manager">
						<span class="glyphicon glyphicon-cog"></span> Gerenciar atletas
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3" ng-show="user.administrador">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="icon ion-ios-tennisball-outline"></span> Jogos
					</h3>
				</div>
				<div class="panel-body">
					<button class="btn btn-primary btn-block text-left" ui-sref="app.game-approval-manager">
						<span class="glyphicon glyphicon-thumbs-up"></span> Aprovar jogos
					</button>

					<button class="btn btn-primary btn-block text-left" ui-sref="app.game-manager" disabled>
						<span class="glyphicon glyphicon-wrench"></span> Gerenciar jogos
					</button>
				</div>
			</div>
		</div>
		
<!-- 		<div class="col-md-3" ng-show="user.administrador"> -->
<!-- 			<div class="panel panel-primary"> -->
<!-- 				<div class="panel-heading"> -->
<!-- 					<h3 class="panel-title"> -->
<!-- 						<span class="icon ion-ios-tennisball-outline"></span> Relatórios -->
<!-- 					</h3> -->
<!-- 				</div> -->
<!-- 				<div class="panel-body"> -->
<!-- 					<button class="btn btn-primary btn-block text-left" disabled> -->
<!-- 						<span class="glyphicon glyphicon-thumbs-up"></span> Jogos por categoria -->
<!-- 					</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>

	<fieldset>
		<legend>
			<h4>
				Área do Atleta
			</h4>
		</legend>
	</fieldset>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-user"></span> Perfil
					</h3>
				</div>
				<div class="panel-body user-data">
				
					<div id="mainData" class="mg-bot-40">
						<h4>Dados de Cadastro</h4>
						
						<hr>
						
						<p>
							<strong>Nome: </strong></span><span ng-bind="::perfil.nome">
						</p>
						
						<button class="btn btn-primary pull-right text-left" ng-click="edit(user)">
							<span class="glyphicon glyphicon-pencil"></span> Editar
						</button>
						
						<p>
							<strong>Endereço:</strong></span> <span ng-bind="::perfil.endereco">
						</p>
						<p>
							<strong>Tel/Cel:</strong></span> <span ng-bind="::perfil.celular">
						</p>
						<p>
							<strong>Categoria:</strong></span> <span ng-bind="::perfil.categoria">
						</p>
					</div>
					
					<div id="ajtaData">
						<h4>Dados AJTA</h4>
						
						<hr>
						
						<p>
							<strong>Rank:</strong><span ng-bind="::perfil.rank"></span>
						</p>
						<p>
							<strong>Jogos Mês: </strong><span ng-bind="::perfil.jogosMes"></span>
						</p>
						<p>
							<strong>Jogos Temp.: </strong><span ng-bind="::perfil.jogosTemp"></span>
						</p>
						<p>
							<strong>Data Inscrição: </strong><span ng-bind="::perfil.dataInscricao | date:'dd/MM/yyyy'"></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="icon ion-ios-tennisball-outline"></span> Jogos
					</h3>
				</div>
				<div class="panel-body">
					<div class="btn-group">
					<button class="btn btn-primary btn-block text-left" ui-sref="app.create-game" ng-disabled="user.madeAll">
						<span class="icon ion-plus"></span> Incluir
					</button>

					<button class="btn btn-primary btn-block text-left" ui-sref="app.my-games">
						<span class="icon ion-ios-list-outline"></span> Meus jogos
					</button>

					<button class="btn btn-primary btn-block text-left" ui-sref="app.approve-game">
						<span class="icon ion-thumbsup"></span> Aprovar jogos
					</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3" ng-show="false">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="icon ion-ribbon-b"></span> Desafios
					</h3>
				</div>
				<div class="panel-body">
					<button class="btn btn-primary btn-block text-left">
						<span class="icon ion-person-stalker"></span> Desafiar
					</button>
				</div>
			</div>
		</div>
		
	</div>

</section>