<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Meus Jogos</h2>
				</legend>
				
				<form name="findGamesForm" ng-submit="getGames()">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label" for="startdate"> Data Inicial </label>
								<input type="date" id="startdate" class="form-control"
									ng-model="filter.start" required>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label" for="finishdate"> Data Final </label> <input
									type="date" id="finishdate" class="form-control"
									ng-model="filter.finish" required>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-3">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search"></span> Buscar!
							</button>
						</div>
					</div>
				</form>
			
				<div class="table-responsive mg-top-10 mg-bot-40">
					<table class="table table-bordered table-striped" ng-show="games.length > 0">
						<thead>
							<tr>
								<th>Data Jogo</th>
								<th>Data recebida</th>
								<th>Atleta Apontador</th>
								<th>Pontos</th>
								<th>Atleta Adversario</th>
								<th>Pontos</th>
								<th>Status</th>
								<th>Foto</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="game in games track by game.id">
								<td><span ng-bind="::game.dataJogo | date: 'dd/MM/yyyy HH:mm:ss'"></span></td>
								<td><span ng-bind="::game.dataInclusao | date:'dd/MM/yyyy HH:mm:ss'"></span></td>
								<td><span ng-bind="::game.apontador.name"></span></td>
								<td><span ng-bind="::game.gamesPro"></span></td>
								<td><span ng-bind="::game.adversario.name"></span></td>
								<td><span ng-bind="::game.gamesCon"></span></td>
								<td><span ng-bind="::game.statusGameStr"></span></td>
								<td>
									<button type="button" class="btn btn-primary" ng-click="selectedImage.src = game.foto" data-toggle="modal" data-target="#imageModal" ng-show="game.foto">
										<span class="glyphicon glyphicon-eye-open"></span>  Visualizar
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="alert alert-info mg-top-10" ng-show="games.length == 0">
					<span class="glyphicon glyphicon-exclamation-sign"></span> Nenhum resultado encontrado.
				</div>
			</fieldset>
		</div>
	</div>
	
	<!-- Modal Image -->
	<div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img class="img-responsive" ng-src="{{'data:image/png;base64,' + selectedImage.src}}">
				</div>
			</div>
		</div>
	</div>
</section>