<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Meu Dados Pessoais</h2>
			
			<div class="panel panel-default"]>
				<div class="panel-body">
					<form name="userForm" ng-submit="edit()">
					
						<div class="form-group">
							<label class="control-label" for="nickName">Apelido</label>
							<input type="text" id="nickName" class="form-control" ng-model="user.nickName" required>
						</div>
					
						<div class="form-group">
							<label class="control-label" for="name">Nome Completo</label>
							<input type="text" id="name" class="form-control" ng-model="user.name" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="email">E-mail</label>
							<input type="email" id="email" class="form-control" ng-model="user.email" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="phone">Telefone (Celular WhatsApp)</label>
							<input type="text" id="phone" class="form-control" ng-model="user.phone" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="rg">RG</label>
							<input type="text" id="rg" class="form-control" ng-model="user.rg" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="cpf">CPF</label>
							<input type="text" id="cpf" class="form-control" ng-model="user.cpf" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="address">Endereço</label>
							<input type="text" id="address" class="form-control" ng-model="user.address" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="profession">Profissão</label>
							<input type="text" id="profession" class="form-control" ng-model="user.profession" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="birthdate">Data de Nascimento</label>
							<input type="date" id="birthdate" class="form-control" ng-model="user.dateOfBirth" required>
						</div>
						
						<button type="submit" class="btn btn-primary" 
						ng-disabled="userForm.$invalid">
							<span class="glyphicon glyphicon-pencil"></span> Atualizar!
						</button>
						
						<button type="submit" class="btn btn-danger" ui-sref="app.control-panel">
							<span class="glyphicon glyphicon-remove"></span> Cancelar
						</button>
					</form>
					
				</div>
			</div>
			
		</div>
	</div>
</section>