<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Ranking Categoria <span ng-bind="::category.descricao"></h2>
				</legend>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th title="Colocação">#</th>
							<th>Atleta</th>
							<th title="Jogos do mês">JM</th>
							<th title="Jogos do trimestre">JTr</th>
							<th title="Jogos da temporada">JT</th>
							<th title="Pontos do mês">PM</th>
							<th title="Pontos do trimestre">PTr</th>
							<th title="Pontos da temporada">PT</th>
							<th title="Vitórias Trimestre">VTr</th>
							<th title="Derrotas Trimestre">DTr</th>
							<th title="Vitórias">V</th>
							<th title="Derrotas">D</th>
							<th title="Aproveitamento Trimestre">%Tr</th>
							<th title="Aproveitamento">%</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in ranking">
							<td><span ng-bind="::item.position"></span></td>
							<td><span ng-bind="::item.nome"></span></td>
							<td><span ng-bind="::item.jmes"></span></td>
							<td><span ng-bind="::item.jtri"></span></td>
							<td><span ng-bind="::item.jtemp"></span></td>
							<td><span ng-bind="::item.pmes"></span></td>
							<td><span ng-bind="::item.ptri"></span></td>
							<td><span ng-bind="::item.ptemp"></span></td>
							<td><span ng-bind="::item.vtri"></span></td>
							<td><span ng-bind="::item.dtri"></span></td>
							<td><span ng-bind="::item.vitoria"></span></td>
							<td><span ng-bind="::item.derrota"></span></td>
							<td><span ng-bind="::item.percTri"></span></td>
							<td><span ng-bind="::item.percT"></span></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</section>