/* Margins */
.mg-top-10 {
	margin-top: 10px;
}

.mg-bot-10 {
	margin-bottom: 10px;
}

.mg-bot-40 {
	margin-bottom: 40px;
}

/* Padding */
.pd-5 {
	padding: 5px;
}

/* Colors */
.red-text {
	color: red;
}

.yellow-shirt-row {
	background-color: #FFEB3B !important;
}

.text-left {
	text-align: left;
}

.invisible-btn {
	border: none;
	padding: 0;
	background-color: transparent;
}

.invisible-btn:focus {
	outline: none;
}

table .input-filter {
	display: inline;
	width: 30%;
	height: 30px;
}

.navbar-header .navbar-brand .brand-image {
	width: 40px;
	height: 40px;
}

/* Navbar fix */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
	
/* Control Panel	 */
.control-panel .user-data p {
	margin: 0;
}

.control-panel .user-data hr {
	margin-top: 0px;
	margin-bottom: 15px;
}