<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Aprovar Jogos</h2>
				</legend>
				
				<div class="table-responsive mg-top-10 mg-bot-40" ng-show="pendingGames.length > 0">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Data Jogo</th>
								<th>Atleta Apontador</th>
								<th>Pontos</th>
								<th>Atleta Adversario</th>
								<th>Pontos</th>
								<th>Foto</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pendingGame in pendingGames track by pendingGame.id">
								<td><span ng-bind="::pendingGame.dataJogo | date: 'dd/MM/yyyy HH:mm:ss'"></span></td>
								<td><span ng-bind="::pendingGame.apontador.name"></span></td>
								<td><span ng-bind="::pendingGame.gamesPro"></span></td>
								<td><span ng-bind="::user.name"></span></td>
								<td><span ng-bind="::pendingGame.gamesCon"></span></td>
								<td>
									<button type="button" class="btn btn-primary" ng-click="selectedImage.src = pendingGame.foto" data-toggle="modal" data-target="#imageModal" ng-show="pendingGame.foto">
										<span class="glyphicon glyphicon-eye-open"></span>  Visualizar
									</button>
								</td>
								<td class="text-center">
									<button type="button" class="btn btn-primary" ng-click="approve(pendingGame, true)" title="Aprovar">
										<span class="glyphicon glyphicon-thumbs-up"></span>
									</button>
									<button type="button" class="btn btn-danger" ng-click="setGameToReprove(pendingGame)" data-toggle="modal" data-target="#reproveModal" title="Reprovar">
										<span class="glyphicon glyphicon-thumbs-down"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="alert alert-info mg-top-10" ng-show="pendingGames.length == 0">
					<span class="glyphicon glyphicon-exclamation-sign"></span> Nenhum resultado encontrado.
				</div>
			</fieldset>
		</div>
	</div>
	
	<!-- Modal Image -->
	<div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img class="img-responsive" ng-src="{{'data:image/png;base64,' + selectedImage.src}}">
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Reprove -->
	<div class="modal fade" id="reproveModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					
					<h4 class="modal-title">
						Reprovar jogo?
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<form name="reproveForm">
								<div class="form-group">
									<strong ng-bind="gameToReprove.apontador.name"></strong>
									<strong ng-bind="gameToReprove.gamesPro"></strong>
								</div>

								<div class="form-group">
									<strong ng-bind="user.name"></strong>
									<strong ng-bind="gameToReprove.gamesCon"></strong>
								</div>
							
								<div class="form-group">
									<label>Justificativa</label>
									<textarea class="form-control" rows="5" cols="5" ng-model="gameToReprove.justificativa" ng-maxlength="255" required>
									</textarea>
									
									<span ng-bind="255 - gameToReprove.justificativa.length"></span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-disabled="reproveForm.$invalid" ng-click="approve(gameToReprove, false)" data-dismiss="modal">
						<span>
							Sim
						</span>
					</button>

					<button class="btn btn-danger" type="button" data-dismiss="modal">
						<span>
							Não
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>