<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Inclusão de Jogo!</h2>
			
			<div class="panel panel-default" ng-hide="gameWHasBeenCreated">
				<div class="panel-body">
					<form name="gameWForm" ng-submit="create()">
						
						<div class="form-group">
							<label class="control-label" for="gamesPro">Games Pro (Games que você marcou.)</label>
							<input type="number" id="gamesPro" class="form-control" min="0" max="7" ng-model="game.gamesPro" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="athleteOne">Adversário</label>
							<select class="form-control" id="athleteOne" ng-options="player.name for player in players" ng-model="game.adversario"></select>
						</div>


						<div class="form-group">
							<label class="control-label" for="gamesCon">Games Contra (Games que seu adversário marcou.)</label>
							<input type="number" id="gamesCon" class="form-control" min="0" max="7" ng-model="game.gamesCon" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="mensagem">Comentários</label>
							<textarea class="form-control" id="mensagem" ng-model="game.mensagem" rows="5" cols="100" ng-maxlength="140"></textarea>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="file">Foto (Por favor tente enviar fotos com até 1MB de tamanho.)</label>
							<input type="file" class="form-control" name="file" id="file" ng-model="game.foto" 
							accept="image/*" base-sixty-four-input>
						</div>

						<div class="alert alert-warning" ng-show="gameWHasBeenValidated">
							<p>
								<span class="glyphicon glyphicon-exclamation-sign"></span> Placar digitado invalido, favor digitar um placar valido!
							</p>
						</div>
						
						
						<button type="submit" class="btn btn-primary" ng-disabled="gameWForm.$invalid">
							Incluir jogo!
						</button>
						
						<button type="submit" class="btn btn-danger" ui-sref="app.control-panel">
							<span class="glyphicon glyphicon-remove"></span> Cancelar
						</button>
					</form>
				</div>
			</div>
			
			<div class="alert alert-success" ng-show="gameWHasBeenCreated">
				<p>
					<span class="glyphicon glyphicon-ok"></span> Jogo criado com sucesso!!
				</p>
			</div>

		</div>
	</div>
</section>