<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Inclusão de Jogo!</h2>
			
			<div class="panel panel-default" ng-hide="gameHasBeenCreated">
				<div class="panel-body">
					<form name="gameForm" ng-submit="create()">
						<div class="form-group">
							<label class="control-label" for="category">Categoria</label>
							<select class="form-control" id="category" ng-model="game.categoria" ng-change="listPlayerOne()" required
							ng-options="category.descricao for category in categories"></select>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="startdate"> Data Jogo </label>
							<input type="date" id="startdate" class="form-control" ng-model="game.dataJogo" required>
						</div>
					
						<div class="form-group">
							<label class="control-label" for="athleteOne">Jogador 1</label>
							<select class="form-control" id="athleteOne" ng-options="player.name for player in players" ng-model="game.apontador"></select>
						</div>

						<div class="form-group">
							<label class="control-label" for="gamesPro">Games Pro</label>
							<input type="number" id="gamesPro" class="form-control" min="0" max="7" ng-model="game.gamesPro" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="athleteTwo">Jogador 2</label>
							<select class="form-control" id="AthleteTwo" ng-options="player.name for player in players" ng-model="game.adversario"></select>
						</div>

						<div class="form-group">
							<label class="control-label" for="gamesCon">Games Contra</label>
							<input type="number" id="gamesCon" class="form-control" min="0" max="7" ng-model="game.gamesCon" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="mensagem">Comentarios</label>
							<textarea class="form-control" id="mensagem" ng-model="game.mensagem" rows="5" cols="100" ng-maxlength="140"></textarea>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="file">Foto</label>
							<input type="file" class="form-control" name="file" id="file" ng-model="game.foto" 
							accept="image/*" maxsize="1000" base-sixty-four-input>
						</div>

						<div class="alert alert-warning" ng-show="gameHasBeenValidated">
							<p>
								<span class="glyphicon glyphicon-exclamation-sign"></span> Placar digitado invalido, favor digitar um placar valido!
							</p>
						</div>
						
						<div class="alert alert-warning" ng-show="gameHasAthleteEquals">
							<p>
								<span class="glyphicon glyphicon-exclamation-sign"></span> Por favor selecione jogadores diferentes!!
							</p>
						</div>
						
						<button type="submit" class="btn btn-primary" ng-disabled="gameForm.$invalid">
							Incluir jogo!
						</button>
					</form>
				</div>
			</div>
			
			<div class="alert alert-success" ng-show="gameHasBeenCreated">
				<p>
					<span class="glyphicon glyphicon-ok"></span> Jogo criado com sucesso!!
				</p>
			</div>

		</div>
	</div>
</section>