<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Inscrição!</h2>
			
			<div class="panel panel-default" ng-hide="hasAccountBeenCreated">
				<div class="panel-body">
					<form name="signUpForm" ng-submit="createAccount()">
					
						<div class="form-group">
							<label class="control-label" for="nickName">Apelido</label>
							<input type="text" id="nickName" class="form-control" ng-model="athleteData.nickName" required>
						</div>
					
						<div class="form-group">
							<label class="control-label" for="name">Nome Completo</label>
							<input type="text" id="name" class="form-control" ng-model="athleteData.name" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="email">E-mail</label>
							<input type="email" id="email" class="form-control" ng-model="athleteData.email" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="phone">Telefone (Celular WhatsApp)</label>
							<input type="text" id="phone" class="form-control" ng-model="athleteData.phone" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="rg">RG</label>
							<input type="text" id="rg" class="form-control" ng-model="athleteData.rg" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="cpf">CPF</label>
							<input type="text" id="cpf" class="form-control" ng-model="athleteData.cpf" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="address">Endereço</label>
							<input type="text" id="address" class="form-control" ng-model="athleteData.address" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="profession">Profissão</label>
							<input type="text" id="profession" class="form-control" ng-model="athleteData.profession" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="birthdate">Data de Nascimento</label>
							<input type="date" id="birthdate" class="form-control" ng-model="athleteData.dateOfBirth" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="category">Categoria</label>
							<select class="form-control" id="category" ng-model="athleteData.category" required
							ng-options="category.descricao for category in categories"></select>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="password">Senha</label>
							<input type="password" id="password" class="form-control" ng-model="athleteData.password" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="confirmPassword">Confirmar senha</label>
							<input type="password" id="confirmPassword" class="form-control" ng-model="athleteData.confirmPassword" required>
						</div>
						
						<button type="submit" class="btn btn-primary" 
						ng-disabled="signUpForm.$invalid || athleteData.password != athleteData.confirmPassword">
							Enviar inscrição!
						</button>
					</form>
					
				</div>
			</div>

			<div class="alert alert-success" ng-show="hasAccountBeenCreated">
				<strong class="glyphicon glyphicon-ok"></strong>
				<strong>Sua inscrição foi enviada para análise.</strong>
				<strong>Você será notificado por e-mail quando a aprovação for concluída.</strong>
			</div>
			
		</div>
	</div>
</section>