<section class="container">
	<div class="wrapper">
		<h3>REGULAMENTO PARA TEMPORADA 2016 DA AJTA</h3>
 
		<p>
			A Temporada 2015 da Associação Joseense de Tênis Amador iniciará em 10 de janeiro de 2016 e encerará em 30 de novembro de 2016.
			Para a Temporada 2016 da AJTA ,os associados estão distribuídos em sete categorias distintas, conforme nível técnico do tenista 
			e genero. Nas inscrições os tenistas escolhem a categoria que querem participar na temporada.
			Fica reservado à diretoria da AJTA o direito de trocar um associado de categoria, se este estiver inscrito equivocadamente em 
			uma categoria que não corresponda ao seu nível técnico.
			<ul>
				<li>
					A5 – Tenistas que estão iniciando no tênis 
				</li>
				<li>
					A4 – Tenistas que ainda não dominam as técnicas e mecânicas de movimentos; 
				</li>
				<li>
					A3 – Tenistas que dominam alguns movimentos e técnicas, mas ainda são instáveis no controle.
				</li>
				<li>
					A2 – Tenistas que praticam tênis com frequência e dominam os movimentos, tem bom saque e estratégia de jogo.
				</li>
				<li>
					A1 –  Nesta categoria podem participar os federados e profissionais.
				</li>
				<li>
					F2 – Tenistas femininas iniciantes.
				</li>
				<li>
					F1 – Tenistas femininas em bom nível técnico , federadas, até profissionais.       
				</li>
			</ul>	 
		</p>
		<p>
			O Ranking AJTA 2016 acompanhará a divisão de categorias conforme descrito. Portanto os tenistas serão classificados no ranking dentro da sua categoria.
		</p>
			
		<br/>		 
		<h4 id="games">OS JOGOS DO RANKING</h4>
			
		<p>	
			Todos associados iniciam a temporada com zero ponto, sem vantagem de posição na tabela (todos em último), conforme cada categoria.a cada tres meses terá uma janela de acesso para subir ou descer de categoria.o ranking também será trimestral zerando a cada tres meses.mas os pontos feitos ficam para disputa do campeão do ano, que somará os pontos de todos os trimestres, Esta regra vale para novas inscrições ao longo da temporada.
			Os jogos serão disputados em 1 Set de 6 games, com vantagem nos games e tie-break quando preciso.
			Os jogos do Ranking serão limitados a desafios apenas dentro da categoria.
			Há liminte na quantidade de jogos por mês, sendo:
			08 jogos para todas as categorias
		</p>
		
		<p>	 
			Para validação do jogo pela AJTA, os dois tenistas desafiantes devem estar previamente concordados em jogar pela AJTA em data e horário combinados, antes do início da partida. Fica de responsabilidade do vencedor da partida a transmissão do resultado à AJTA, através do aplicativo da AJTA,  As transmissões de resultados dos jogos serão aceitos até 5 dias, a partir da data do jogo.
		</p>
		
		<p>	 
			Dois mesmos jogadores só podem se enfrentar, em jogo válido, apenas uma vez dentro do mesmo mês.e duas vezes em cada trimestre.
		</p>
		
		<p>	 
			Os jogos podem ser realizados em qualquer quadra de tênis, independente do tipo de piso ou da cidade onde esta localizada.
		</p>
		
			 
		<br/>		 
		<h4 id="score">PONTUAÇÃO PARA JOGOS DO RANKING AJTA</h4>
		
		<p>
			O tenista vencedor na partida soma o número de games vencidos + a diferença de games referente ao adversário.
			Exemplo: Vencedor 6x4 Perdedor
			6 pontos + 2 pontos = 8 pontos;
			Exemplo 2: Vencedor 6x2 Perdedor
			6 pontos + 4 pontos = 10 pontos;
			Exemplo 3: Vencedor 7x6 Perdedor
			7 pontos + 1 ponto = 8 pontos.
		</p>
		
		<p>	 
			O tenista que perder a partida soma pontos correspondentes ao número de games vencidos por ele.
			Exemplo: Vencedor 6x4 Perdedor > Pontuação: perdedor; 4 pontos.
		</p>
		
		<p>	 
			Hávera bonificação de 2 pontos aos dois se for enviada uma foto de ambos jogadores no dia da partida.
		</p>
		
		<p>	 
			Ordem na tabela do Ranking e critérios de desempate:
			A ordem de posições obdecerá a quantidade de pontos acumulado.
			Desempate:
			1º - Número de Vitórias;
			2º - Porcentagem de Aproveitamento;
			3º - Aquele que conquistou a posição em data anterior.
		</p>
		
		<p>	 
			O site da AJTA destacará em primeira página os  primeiros classificados de cada categoria .
			No final da temporada 2016 o campeões o vice-campeões serão premiados com troféus de mérito.
		</p>	
			
		<p>
			Leia mais: <a href="http://www.ajta.com.br/sobre-nos" target="_blank">http://www.ajta.com.br/sobre-nos</a>
		</p>
	</div>
</section>