<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Lista de Atletas Categoria <span ng-bind="::category.descricao"></span></h2>
				</legend>
	
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>
								Atleta
							</th>
							<th>
								Data Cadastro
							</th>
							<th>
								Ativo
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="athlete in athletes track by $index" ng-class="{'yellow-shirt-row': athlete.camisaAmarela}"
						title="{{athlete.camisaAmarela ? 'Camisa Amarela' : ''}}">
							<td>
								<span ng-bind="::athlete.name"></span>
							</td>
							
							<td>
								<span ng-bind="::athlete.dateOfCreation | date:'dd/MM/yyyy'"></span>
							</td>
							
							<td>
								<span ng-bind="::athlete.enabledStr"></span>
							</td>
							
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</section>