<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Editando o atleta {{categoryId}}</h2>
			
			<div class="panel panel-default">
				<div class="panel-body">
					<form name="athleteForm" ng-submit="edit()">
					
						<div class="form-group">
							<label class="control-label" for="nickName">Apelido</label>
							<input type="text" id="nickName" class="form-control" ng-model="athlete.nickName" required>
						</div>
					
						<div class="form-group">
							<label class="control-label" for="name">Nome Completo</label>
							<input type="text" id="name" class="form-control" ng-model="athlete.name" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="email">E-mail</label>
							<input type="email" id="email" class="form-control" ng-model="athlete.email" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="phone">Telefone (Celular WhatsApp)</label>
							<input type="text" id="phone" class="form-control" ng-model="athlete.phone" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="rg">RG</label>
							<input type="text" id="rg" class="form-control" ng-model="athlete.rg" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="cpf">CPF</label>
							<input type="text" id="cpf" class="form-control" ng-model="athlete.cpf" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="address">Endereço</label>
							<input type="text" id="address" class="form-control" ng-model="athlete.address" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="profession">Profissão</label>
							<input type="text" id="profession" class="form-control" ng-model="athlete.profession" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="birthdate">Data de Nascimento</label>
							<input type="date" id="birthdate" class="form-control" ng-model="athlete.dateOfBirth" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="category">Categoria</label>
							<select class="form-control" id="category" ng-model="athlete.category" required
							ng-options="category.descricao for category in categories track by category.id"></select>
						</div>

						<div class="checkbox">
							<label class="control-label" for="enabled">
								<input type="checkbox" id="enabled" ng-model="athlete.enabled"> Ativo?
							</label>
						</div>
						
						<div class="checkbox">
							<label class="control-label" for="administrador">
								<input type="checkbox" id="administrador" ng-model="athlete.administrador"> Administrador?
							</label>
						</div>
						
						<div class="checkbox">
							<label class="control-label" for="camisaAmarela">
								<input type="checkbox" id="camisaAmarela" ng-model="athlete.camisaAmarela"> Camisa Amarela?
							</label>
						</div>

						<button type="submit" class="btn btn-primary" 
						ng-disabled="athleteForm.$invalid">
							<span class="glyphicon glyphicon-pencil"></span> Editar!
						</button>
						
						<button type="button" class="btn btn-danger" ng-click="goBack()">
							<span class="glyphicon glyphicon-remove"></span> Cancelar
						</button>
					</form>
					
				</div>
			</div>
			
		</div>
	</div>
</section>