<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Lista de Categorias</h2>
				</legend>		
		
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Categoria</th>
							<th>Data Cadastro</th>
							<th>Quantidade Jogos</th>
							<th>Masculina/Feminina</th>
							<th>Atletas</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="category in categories track by category.id">
							<td><span ng-bind="::category.descricao"></span></td>
							<td><span ng-bind="::category.dataInclusao | date:'dd/MM/yyyy'"></span></td>
							<td><span ng-bind="::category.numeroJogosMes"></span></td>
							<td><span ng-bind="::category.sexo"></span></td>
							<td>
								<button class="btn btn-primary" ui-sref="app.athlete-list({categoryId: category.id})">
									<span class="glyphicon glyphicon-eye-open"></span> Visualizar
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</section>