<section class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2>Inclusão de Categorias!</h2>
			
			<div class="panel panel-default" ng-hide="categoryHasBeenCreated">
				<div class="panel-body">
					<form name="categoryForm" ng-submit="create()">
						<div class="form-group">
							<label class="control-label" for="description">Nome</label>
							<input type="text" id="description" class="form-control" ng-model="category.descricao" required>
						</div>
						
						<div class="form-group">
							<label class="control-label" for="name">Quantidade Jogos</label>
							<input type="number" id="qtdJogos" class="form-control" ng-model="category.numeroJogosMes" required>
						</div>

						<div class="form-group">
							<label class="control-label" for="rg">Gênero</label>
							<select id="gender" ng-model="category.masculina" class="form-control"
							ng-options="gender.value as gender.description for gender in genders" required>
							</select>
						</div>
						
						<button type="submit" class="btn btn-primary" ng-disabled="categoryForm.$invalid">
							Incluir categoria!
						</button>
					</form>
				</div>
			</div>
			
			<div class="alert alert-success" ng-show="categoryHasBeenCreated">
				<p>
					<span class="glyphicon glyphicon-ok"></span> Categoria criada com sucesso!!
				</p>
			</div>

		</div>
	</div>
</section>