<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Atletas aguardando aprovação</h2>
				</legend>
			</fieldset>
		</div>
		
		<div class="row" ng-show="athletes.length > 0">
			<div class="col-md-12">
				<table class="table table-bordered table-striped mg-top-10">
					<thead>
						<tr>
							<th>
								Atleta
							</th>
							<th>
								Categoria
							</th>
							<th>
								Email
							</th>
							<th>
								Telefone
							</th>
							<th>
								Data Cadastro
							</th>
							<th>
								Ações
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="athlete in athletes track by athlete.id">
							<td>
								<span ng-bind="::athlete.name"></span>
							</td>
							<td>
								<span ng-bind="::athlete.category.descricao"></span>
							</td>
							<td>
								<span ng-bind="::athlete.email"></span>
							</td>
							<td>
								<span ng-bind="::athlete.phone"></span>
							</td>
							<td>
								<span ng-bind="::athlete.dateOfCreation | date:'dd/MM/yyyy'"></span>
							</td>
							
							<td class="text-center">
								<button type="button" class="btn btn-success" title="Aprovar atleta" ng-click="approve(athlete)">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
				
	</div>
</section>