<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Gerenciar Atletas</h2>
				</legend>
				
				<form class="mg-bot-10" name="filterForm">
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label for="categoryId">Categoria</label>
								<select id="categoryId" class="form-control" ng-model="filter.categoryId" required
								ng-options="category.id as category.descricao for category in categories"></select>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-1">
							<button type="button" class="btn btn-block btn-primary" ng-click="list()"
							ng-disabled="filterForm.$invalid">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
				
				<table class="table table-bordered table-striped" ng-show="athletes.length > 0">
					<thead>
						<tr>
							<th>
								Atleta
								<button class="invisible-btn" ng-click="showNameFilter()">
									<span class="glyphicon glyphicon-filter" ng-hide="filter.filterByName" title="Exibir filtro"></span>
									<span class="glyphicon glyphicon-remove red-text" ng-show="filter.filterByName" title="Esconder filtro"></span>
								</button>
								<input type="text" id="nameFilter" class="input-filter form-control" ng-model="filter.athleteName" ng-show="filter.filterByName">
							</th>
							<th>
								Email
							</th>
							<th>
								Telefone
							</th>
							<th>
								Data Cadastro
							</th>
							<th>
								Ativo
							</th>
							<th>
								Ações
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="athlete in athletes | filter: {name: filter.athleteName} track by $index" 
						ng-class="{'yellow-shirt-row': athlete.camisaAmarela}"
						title="{{athlete.camisaAmarela ? 'Camisa Amarela' : ''}}" id="athlete-{{athlete.id}}">
							<td>
								<span ng-bind="athlete.name"></span>
							</td>
							
							<td>
								<span ng-bind="athlete.email"></span>
							</td>
							
							<td>
								<span ng-bind="athlete.phone"></span>
							</td>
							
							<td>
								<span ng-bind="athlete.dateOfCreation | date:'dd/MM/yyyy'"></span>
							</td>
							
							<td>
								<span ng-bind="athlete.enabledStr"></span>
							</td>
							
							<td class="text-center">
								<button type="button" class="btn btn-primary" title="Editar" ng-click="edit(athlete)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</section>