<section class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Jogos pendentes</h2>
			
			<hr/>
			
			<div class="table-responsive" ng-show="pendingGames.length > 0">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Categoria</th>
							<th>Data Jogo</th>
							<th>Data recebida</th>
							<th>Apontador</th>
							<th>Games Ap.</th>
							<th>Adversario</th>
							<th>Games Ad.</th>
							<th>Status</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="game in pendingGames track by game.id">
							<td><span ng-bind="::game.categoria.descricao"></span></td>
							<td><span ng-bind="::game.dataJogo | date: 'dd/MM/yyyy HH:mm:ss'"></span></td>
							<td><span ng-bind="::game.dataInclusao | date:'dd/MM/yyyy HH:mm:ss'"></span></td>
							<td><span ng-bind="::game.apontador.name"></span></td>
							<td><span ng-bind="::game.gamesPro"></span></td>
							<td><span ng-bind="::game.adversario.name"></span></td>
							<td><span ng-bind="::game.gamesCon"></span></td>
							<td><span ng-bind="::game.statusGameStr"></span></td>
							<td class="text-center">
								<button type="button" class="btn btn-success" title="aprovar" ng-click="approveGame(game)">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</button>
								<button type="button" class="btn btn-danger" title="reprovar" ng-click="repproveGame(game)">
									<span class="glyphicon glyphicon-thumbs-down"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</section>