<section class="container">
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>
					<h2>Gerenciar Jogos</h2>
				</legend>
			</fieldset>
				
			<form name="gameForm" ng-submit="getGames()">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="startdate"> Data Inicial </label>
							<input type="date" id="startdate" class="form-control"
								ng-model="filter.start" required>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="finishdate"> Data Final </label> <input
								type="date" id="finishdate" class="form-control"
								ng-model="filter.finish" required>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<button type="submit" class="btn btn-primary" ng-disabled="gameForm.$invalid">
							<span class="glyphicon glyphicon-search"></span> Buscar!
						</button>
					</div>
				</div>
			</form>
			
			<div class="table-responsive mg-top-10 mg-bot-40">
				<table class="table table-bordered table-striped" ng-show="games.length > 0">
					<thead>
						<tr>
							<th>Categoria</th>
							<th>Data Jogo</th>
							<th>Data recebida</th>
							<th>Apontador</th>
							<th>Games Ap.</th>
							<th>Adversario</th>
							<th>Games Ad.</th>
							<th>Status</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="g in games track by g.id">
							<td><span ng-bind="::g.categoria.descricao"></span></td>
							<td><span ng-bind="::g.dataJogo | date: 'dd/MM/yyyy HH:mm:ss'"></span></td>
							<td><span ng-bind="::g.dataInclusao | date:'dd/MM/yyyy HH:mm:ss'"></span></td>
							<td><span ng-bind="::g.apontador.name"></span></td>
							<td><span ng-bind="::g.gamesPro"></span></td>
							<td><span ng-bind="::g.adversario.name"></span></td>
							<td><span ng-bind="::g.gamesCon"></span></td>
							<td><span ng-bind="::g.statusGameStr"></span></td>
							<td class="text-center">
								<button type="button" class="btn btn-primary" title="editar" ng-click="edit(athlete)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="button" class="btn btn-success" title="aprovar">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="alert alert-info mg-top-10" ng-show="games.length == 0">
				<span class="glyphicon glyphicon-exclamation-sign"></span> Nenhum resultado encontrado.
			</div>
				
		</div>
	</div>
	
	<!-- Modal Image -->
	<div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img class="img-responsive" ng-src="{{'data:image/png;base64,' + selectedImage.src}}">
				</div>
			</div>
		</div>
	</div>
</section>